span[class^='glossary-popup-container-'] {
    position: relative;
}

.glossary-info-box {
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: none;
    padding: 10px 18px;
    position: absolute;
    z-index: 999;
    top: 15px;
    left: 0;
}

.glossary-info-title {
    display: block;
    width: 100%;
    font-weight: 700;
}



.glossary-info-box.active {
    display: inline-block;
}